body {
	position: relative;
}

.col-md-9 > section {
	margin-top: -40px;
	padding-top: 60px;
}

.navbar .navbar-nav > li > a {
	color: #fff;
	padding: 15px;
	font-size: 14px;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
	background-color: #1f2f3f;
	color: #fff;
}

.navbar {
	background-color: #293f54;
	font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}

.navbar-brand {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

.navbar-brand:hover {
	color: #fff;
}

.fu-sidebar .nav > li > ul {
	display: none;
}

.fu-sidebar .nav .active > ul {
	display: block;
}

.fu-sidebar .nav .active > a {
	border-left: 1px solid #f59031;
	color: #f59031;
	padding-left: 19px;
	background-color: transparent;
}

.fu-sidebar .nav > li > a {
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
	font-weight: 500;
	font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}

.fu-sidebar .nav > li > a:hover, .fu-sidebar .nav > li > a:focus {
	border-left: 1px solid #f59031;
	color: #f59031;
	padding-left: 19px;
	background-color: transparent;
}

.fu-sidebar .nav > li > a:active, .fu-sidebar .nav > li > a:active {
	outline: none;
}

.fu-sidebar .nav > li > a:focus, .fu-sidebar .nav > li > a:focus {
	outline: none;
}

.fu-sidebar .nav .nav > li > a {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 2px;
	padding-left: 30px;
	padding-top: 2px;
}

.btn-panel {
	border: 1px solid #ddd;
	border-top: none;
	background: #f6f6f6;
	padding: 20px;
}

.thin-box {
	border: 1px solid #ddd;
	padding: 20px 20px;
}

#loaderWrapper .loader {
	float: left;
	margin-right: 20px;
}

#mainWrapper {
	padding-bottom: 40px;
}

#myInfiniteScroll1, #myInfiniteScroll2 {
	border: 1px solid #ddd;
	float: left;
	height: 200px;
	width: 45%;
}

#myInfiniteScroll2 {
	float: right;
}

#myPlacard1, #myPlacard2, #myPlacard3 {
	width: 300px;
}

.thin-box .tree {
	overflow: auto;
}

#myRepeaterActions table thead tr th, #myRepeaterActions .repeater-list-heading {
	width: 400px;
}

#myRepeaterActions table.table-actions .repeater-list-heading {
	width: 100%;
}