// For clearing floats
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

// Helpers
// -------------------------
.data-label {
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 2px;
	text-shadow: 0 1px @true-white;
	color: @gray40;
}
.data-value {
	font-size: 14px;
}
.section-heading {
	font-size: 16px;
	color: @gray20;
	margin: 0 0 @spacing-sm;
	padding: 0;
	text-shadow: 0 1px @true-white;
}
