// FORMS

// CHECKBOX
@checkbox-width-value: 25;
@checkbox-width: unit(@checkbox-width-value, px);
@checkbox-height: unit( @checkbox-width-value, px );
@form-elements-padding: unit( @checkbox-width-value + (@checkbox-width-value / 5), px );


//FOOTER
@footer-padding: 8px 10px 8px 10px;
@footer-span-line-height: 21px;
