# filesystem
.DS_Store

# dependencies
node_modules
bower_components

# logs
*.log
validation-status.json

# Editors / IDEs
.idea

# Temp file created in the LESS build
less/fuelux-override-no-namespace.less
less/fuelux-mctheme-no-namespace.less

# Temp file created in the LESS build
less/icons/png/*.png


# dev-specific fils related to serve-dev task
examples/*/*-dev.html
dist-dev/

dist/css/fuelux-mctheme-dev.css
dist/css/fuelux-mctheme-dev.css.map
dist/css/fuelux-mctheme-fuelux-mctheme-no-namespace.css.map
dist/css/fuelux-mctheme-all-dev.css
dist/css/fuelux-mctheme-all-dev.css.gz
dist/css/fuelux-mctheme.css.gz
dist/css/fuelux-override-dev.css
