# filesystem
.DS_Store

# dependencies
node_modules
bower_components

# logs
*.log
validation-status.json

# Editors / IDEs
.idea

# Temp file created in the LESS build
less/fuelux-override-no-namespace.less


# dev-specific fils related to serve-dev task
examples/*/*-dev.html
dist-dev/
