body {
	color: #525354;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body a {
	color: #8fa5b7;
}

body a:hover, body a:focus {
	color: #436078;
}

footer {
	color: #777;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}

footer p {
	color: #777;
	font-size: 14px;
	margin-bottom: 0;
}

main {
	background: #f0f1f2;
	padding: 80px 15px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

main .lead {
	font-size: 24px;
	margin-bottom: 0;
	margin-top: 64px;
}

.example-links {
	font-size: 20px;
}

.footer-links {
	color: #999;
	margin-top: 20px;
	padding-left: 0;
}

.footer-links li {
	display: inline;
	font-size: 14px;
	padding: 0 2px;
}

.footer-links li:first-child {
	padding-left: 0;
}

.half-rule {
	margin: 40px auto;
	width: 100px;
}

.mctheme-title {
	color: #293f54;
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
}

.mctheme-featurette {
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}

.mctheme-featurette p.lead {
	color: #555;
	font-weight: 300;
}

.mctheme-featurette-title {
	color: #293f54;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
}