body {
	position: relative;
}

.section {
	margin-top: -40px;
	padding-top: 60px;
}

#docnav .navbar-nav > li > a {
	color: #fff;
	padding: 15px;
	font-size: 14px;
}

#docnav .navbar-nav > li > a:hover, .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
	background-color: #1f2f3f;
	color: #fff;
}

#docnav {
	background-color: #293f54;
	/*
	  font-family: "Helvetica Neue",​ Helvetica, ​Arial, ​sans-serif;
	  On Windows "Helvetica Neue" triggers Times New Roman.
	  Helv on Win, though not a default font, looks terrible in the browser if installed.
	  Just using sans-serif will default to Arial on Win and Helv on Mac.
	*/
	z-index: 1200;
	font-family:  sans-serif;
}

#docnav .navbar-brand {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

#docnav .navbar-brand:hover {
	color: #fff;
}

.fu-sidebar .nav > li > ul {
	display: none;
}

.fu-sidebar .nav .active > ul {
	display: block;
}

.fu-sidebar .nav .active > a {
	border-left: 1px solid #f59031;
	color: #f59031;
	padding-left: 19px;
	background-color: transparent;
}

.fu-sidebar .nav > li > a {
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
	font-weight: 500;
	font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}

.fu-sidebar .nav > li > a:hover, .fu-sidebar .nav > li > a:focus {
	border-left: 1px solid #f59031;
	color: #f59031;
	padding-left: 19px;
	background-color: transparent;
}

.fu-sidebar .nav > li > a:active, .fu-sidebar .nav > li > a:active {
	outline: none;
}

.fu-sidebar .nav > li > a:focus, .fu-sidebar .nav > li > a:focus {
	outline: none;
}

.fu-sidebar .nav .nav > li > a {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 2px;
	padding-left: 30px;
	padding-top: 2px;
}

#main-wrapper {
	margin: 40px 3em;
}
.panel-footer {
	min-height: 6rem;
}

.fuelux-icon {
	/*margin: 10px auto;*/
	width: 80px !important;
	height: 80px !important;
	/*display: inline-block;*/
}

.panel-body.text-center {
	background: url(./transparency-grid.png);
}