.checkbox-before() {

	.transition();
	
	input[type="checkbox"] {
		height: 1px;
		width: 1px;
	}
	&:before {
		background: none;
		border-color: none;
		.fuelux-icon;
		.fuelux-icon-checkbox;
		width: @checkbox-width;
		height: @checkbox-height;
		-webkit-appearance: inherit;
		border: 0px solid transparent;
		border-radius: 0;
		content: "" !important;
	}
}

.checkbox-custom {
	font-size: 12px;
	line-height: 20px;

	padding-left: @form-elements-padding;

	.checkbox-before;

	&:hover {
		.checkbox-before;
		&:before {
			.fuelux-icon-checkbox-hover;
		}
		&.checked {
			.checkbox-before;
			&:before {
				.fuelux-icon-checkbox-checked-hover;
			}
		}
	}

	&:active, &:focus {
		.checkbox-before;
		&:before {
			.fuelux-icon-checkbox-active;
		}
		&.checked {
			.checkbox-before;
			&:before {
				.fuelux-icon-checkbox-active;
			}
		}
	}

	&.checked {
		.checkbox-before;
		&:before {
			.fuelux-icon-checkbox-checked;
		}
	}
	&.disabled {
		.checkbox-before;
		&:before {
			.fuelux-icon-checkbox-disabled;
			// opacity: 1;
		}
		&.checked {
			.checkbox-before;
			&:before {
				.fuelux-icon-checkbox-checked-disabled;
			}

		}
	}

	&.checkbox-inline {
		input {
			position: absolute;
		}
	}
}
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
	.checkbox-custom:before,
	.checkbox-custom:hover:before,
	.checkbox-custom.checked:before,
	.checkbox-custom.checked:hover:before,
	.checkbox-custom.disabled:before,
	.checkbox-custom.disabled.checked:before {
		// .sprite2x();
	}
}