@import '../mixins.less';
.fuelux .repeater[data-viewtype="list"] {
	.repeater-canvas {
		.repeater-list {
		.table {
			border: none;

			tr {
				box-shadow: none;

				&.selected {
					&:focus {
						outline: 1px dotted @blue-cornflower;
					}

					&:hover {
						td {
							background: @blue-sky;
						}
					}
					&.hovered {
						td {
							background: @blue-sky;
						}
					}

					td {
						background: @blue-slate;
						color: @brand-info-dark;
					}

					td:first-child {
						padding-left: 30px;
					}
				}

				th {
					background: #f4f6f7;
					background-image: -webkit-linear-gradient(top, @gray96, @gray98);
					background-image: linear-gradient(to bottom, @gray96, @gray98);
					border-left: 1px solid transparent;
					border-right: none;
					.column-header();

					&:first-child {
						border-left: none;

						.repeater-list-heading {
							border-left: none;
						}
					}

					&.sortable {
						&:hover {
							background: @brand-primary-light;
							background-image: -webkit-linear-gradient(top, @brand-primary-light, @blue-smoke);
							background-image: linear-gradient(to bottom, @brand-primary-light, @blue-smoke);
						}

						.glyphicon {
							display: block;
							height: 0;
							margin-top: 5px;
							width: 0;

							&:before {
								display: none;
							}
						}

						&.sorted, &.sorted:hover {
							background: @blue-smoke;
							background-image: -webkit-linear-gradient(top, @brand-primary-light, @blue-smoke);
							background-image: linear-gradient(to bottom, @brand-primary-light, @blue-smoke);

							.glyphicon.glyphicon-chevron {
								&-down {
									border-width: 5px 5px 0 5px;
									border-color: transparent;
									border-style: solid;
								}

								&-up {
									border-width: 0 5px 5px 5px;
									border-color: transparent;
									border-style: solid;
								}
							}
						}
					}

					.repeater-list-heading {
						background: @gray96;
						background-image: -webkit-linear-gradient(top, @gray96, @gray98);
						background-image: linear-gradient(to bottom, @gray96, @gray98);
						border-left: 0;
						border-right: none;
						padding-left: 10px;
						margin-left: -11px;
						.column-header();

						&:last-child {
							text-align: left;
						}

						&.sortable {
							&:hover {
								background: @brand-primary-light;
								background-image: -webkit-linear-gradient(top, @brand-primary-light, @blue-smoke);
								background-image: linear-gradient(to bottom, @brand-primary-light, @blue-smoke);
							}

							.glyphicon {
								display: block;
								height: 0;
								margin-top: 5px;
								width: 0;

								&:before {
									display: none;
								}
							}
						}

						&.sorted, &.sorted:hover {
							background: @brand-primary-light;
							background-image: -webkit-linear-gradient(top, @brand-primary-light, @blue-smoke);
							background-image: linear-gradient(to bottom, @brand-primary-light, @blue-smoke);
							border-right:  1px solid #D6D6D6;

							.glyphicon.glyphicon-chevron {
								&-down {
									border-width: 5px 5px 0 5px;
									border-color: @gray27 transparent transparent transparent;
									border-style: solid;
								}

								&-up {
									border-width: 0 5px 5px 5px;
									border-color: transparent transparent @gray27 transparent;
									border-style: solid;
								}
							}
						}
					}
				}

				td {
					text-align: left;
					padding-left: 10px;
					border-bottom: 1px dotted @gray80;
					border-left: none;
					border-right: none;
				}

				&:focus {
					outline: 1px dotted @blue-cornflower;
				}
			}
		}

		&-check {
			float: left;
		}
	}
		&.actions-enabled {
			.repeater-list {
				.actions-column-wrapper {
					table.table-actions {
						thead {
							tr {
								th {
									.repeater-list-heading {
										margin-left: -11px;
									}
								}
							}
						}
						tr {
							&.selected {
								td:first-child {
									padding-left: 10px;
								}

								&:focus {
									outline: 1px dotted #66afe9;
								}

								&:hover {
									td {
										background: @blue-sky;
									}
								}
								&.hovered {
									td {
										background: @blue-sky;
									}
								}

								td {
									background: @blue-slate;
									color: @brand-info-dark;
								}
							}
						}

						.btn {
							padding: 2px 4px;
						}
						.action-item {
							.fuelux-icon {
								.btn-sm-fuelux-icon();
							}
						}
					}
				}
				.repeater-list-wrapper {
					> table {
						tr {
							td:last-child {
								border-bottom: none;
							}
						}
					}
				}
				&.firefox {
					.actions-column-wrapper {
						table {
							&.table-actions {
								tr,td {
									line-height: 1.56;
								}
							}
						}
					}
				}
			}
		}
		&.multi-select-enabled {
			 .repeater-list {
				 thead {
					 tr:first-child {
						 .header-checkbox {
							 label {
								 left: 3px;
							 }
						 }
					 }
				 }
				 tbody {
					 tr {
						 .body-checkbox {
							 left: 3px;
						 }
					 }
				 }
				 tr {
					 &.selected {
						 td {
							 &:first-child {
								 padding-left: 10px;
							 }
						 }
					 }
				 }
			 }
		}

	}
}
