.selectlist {
	.btn {
		&.dropdown-toggle {
			background: linear-gradient(#FFFFFF, @gray93);
			border: 1px solid #bbb;

			.caret {
				color: #656565;
				right: 5px;
			}

			.selected-label {
				padding-right: 4px;
			}
		}
	}
	&[data-resize="auto"] {
		.btn{
			&.dropdown-toggle {
				.selected-label {
					padding-right: 10px;
				}
			}
		}
	}
}
