// * {
// 	outline: 1px solid red;
// }

.tree {
	border-color: #ddd;
	padding: 10px 0;

	// * {
	// 	outline: 1px solid red;
	// }

	button:focus .tree-label {
		color: inherit;
	}

	.tree-label {
		line-height: 18px;
	}

	li {
		margin-top: 0;
		margin-bottom: 0;
	}

	// ICONS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.icon-caret {
		top: -1px;
		left: -1px;
		.sprite(-176px, 0);
		width: 13px;
		height: 13px;
	}

	&.tree-folder-select .icon-caret {
		top: 0;
		left: 0;
	}

	.icon-caret:before, &.tree-folder-select .tree-branch-header .icon-caret:before {
		font-size: 0px;
	}

	.tree-branch-header > .icon-caret:hover {
		.sprite(-192px, 0);
	}

	.icon-folder {
		margin-right: 4px;
		.sprite(-96px, -2px);
		height: 12px;
		width: 16px;
	}

	// SELECTED - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	&.tree-folder-select .tree-branch.tree-selected > .tree-branch-header .tree-branch-name:hover,
	.tree-branch.tree-selected > .tree-branch-header .tree-branch-name,
	&.tree-folder-select .tree-branch.tree-selected > .tree-branch-header .tree-branch-name,
	.tree-item.tree-selected > .tree-item-name {
		background: transparent;
		color: #385b6b;
	}

	.tree-selected > .tree-branch-header,
	.tree-item.tree-selected {
		background: @blue-light;
	}

	// text and icon alignment - - - - - - - - - - - - - - - - - - - - - - - - -
	.tree-branch {
		margin: 0;
	}

	.tree-branch .tree-branch-header, .tree-item {
		padding: 0 3px 0px 8px;
		border-radius: 0;
		line-height: 16px;
	}

	.tree-item-name, .tree-branch-name {
		line-height: 16px;
		padding: 0px 0 0px 2px;
		background: transparent;
	}

	.tree-item-name:hover,
	.tree-item-name:hover .tree-label {
		background: transparent;
		color: @brand-primary-medium;
	}

	.icon-folder:before {
		font-size: 0px;
	}

	.icon-item {
		margin-right: 4px;
		.sprite(-143px, -2px);
		height: 12px;
		width: 16px;
	}

	.icon-item:before {
		font-size: 0px;
	}

	.tree-item {
		margin-left: 16px;
		padding: 0 3px 2px 8px;
		border-radius: 0;
		line-height: 16px;
	}

	.tree-branch {

		.tree-branch-children {
			margin-left: 18px;
		}
	}

	.tree-branch-header:hover .tree-label {
		color: @brand-primary-medium;
	}

	.tree-item:hover .icon-item {
		background-position: -159px -2px; // entity dot hover
	}

	.tree-item.tree-selected .icon-item {
		background-position: -128px -1px; // entity dot selected
	}


	.tree-open {
		& > .tree-branch-header .icon-folder {
			.sprite(-112px, -2px);
		}

		& > .tree-branch-header .icon-caret {
			left: 0;
			transform: none;
			.sprite(-176px, -16px);
		}

		& > .tree-branch-header .icon-caret:hover {
			.sprite(-192px, -16px);
		}
	}

	&.tree-folder-select {
		.icon-caret {
			display: inline-block;

			&:before {
				color: @blue-light;
			}
		}
	}

}

@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.tree .icon-caret,
	.tree .icon-folder,
	.tree .icon-item,
	.tree .tree-branch-header > .icon-caret:hover,
	.tree .tree-open > .tree-branch-header .icon-folder,
	.tree .tree-open > .tree-branch-header .icon-caret,
	.tree .tree-open > .tree-branch-header .icon-caret:hover
	{
		.sprite2x();
	}
}
