//GLOBAL
@disabled-background: @gray98;
@border-color: @gray87;

//COMBOBOX
@combobox-border-default: @gray74;
@combobox-disabled: @gray80;

//LOADER
@loader-color: @blue-steel;

//PILLBOX
@pillbox-pill-background: @gray93;

//FOOTER
@footer-padding: 8px 10px 8px 10px;
@footer-span-line-height: 21px;

//FOOTER STYLES
@column-header-padding: 6px 10px;

//Selectable Hover, Selected, Selected Hover
// -------------------------
@selectableHover: @gray96;
@selected: @gray93;
@selectedHover: @gray87;