<!doctype HTML>
<html class="fuelux">
<head>
	<title>Fuel UX 3 Icons</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/bower_components/fuelux/dist/css/fuelux.css" rel="stylesheet" type="text/css">

	<link href="/dist/css/fuelux-mctheme.css" rel="stylesheet" type="text/css">
	<link href="/examples/icons/icons-examples.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="fuelux-icon-list">
				{{#each icons}}
					{{#with this}}
						<li>
							<div class="fuelux-icon fuelux-icon-{{name}}"></div>
							<code>.fuelux-icon {{prefix}}{{name}}</code>
						</li>
					{{/with}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>
<script src="//localhost:35730/livereload.js"></script>
</body>
</html>
