<!doctype HTML>
<html class="fuelux">
<head>
	<title>Fuel UX 3 Icons</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/bower_components/fuelux/dist/css/fuelux.css" rel="stylesheet" type="text/css">
	<link href="/dist/css/fuelux-mctheme.css" rel="stylesheet" type="text/css">
	<link href="/dist/css/fuelux-mctheme-content.css" rel="stylesheet" type="text/css">
	<link href="/examples/icons/icons-examples.css" rel="stylesheet" type="text/css">
	<link href="/examples/css/super-copy.css"  rel="stylesheet" type="text/css">
</head>
<body>
<header id="docnav" class="navbar navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".fu-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a href="/" class="navbar-brand">MC Theme</a>
		</div>
		<nav class="collapse navbar-collapse fu-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li>
					<a href="../bootstrap-css/bootstrap-css.html">Bootstrap CSS</a>
				</li>
				<li>
					<a href="../bootstrap-components/bootstrap-components.html">Bootstrap Components</a>
				</li>
				<li>
					<a href="../bootstrap-javascript/bootstrap-javascript.html">Bootstrap Javascript</a>
				</li>
				<li>
					<a href="../fuelux/fuelux.html">Fuel UX Controls</a>
				</li>
				<li>
					<a href="../utilities/utilities.html">Typography</a>
				</li>
				<li class="active">
					<a href="./icons.html">Iconography</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<header id="docnav" class="navbar navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".fu-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
			</button>
			<a href="/" class="navbar-brand">MC Theme</a>
		</div>
		<nav class="collapse navbar-collapse fu-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li>
					<a href="../bootstrap-css/bootstrap-css.html">Bootstrap CSS</a>
				</li>
				<li>
					<a href="../bootstrap-components/bootstrap-components.html">Bootstrap Components</a>
				</li>
				<li>
					<a href="../bootstrap-javascript/bootstrap-javascript.html">Bootstrap Javascript</a>
				</li>
				<li>
					<a href="../fuelux/fuelux.html">Fuel UX Controls</a>
				</li>
				<li>
					<a href="../utilities/utilities.html">Typography</a>
				</li>
				<li class="active">
					<a href="./icons.html">Iconography</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="container">
		<nav class="collapse navbar-collapse fu-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav subnav">
				<li>
					<a href="icons.html">Core Icons</a>
				</li>
				<li>
					<a href="icons-content.html">Content</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div id="main-wrapper">
	<div class="container">


		<div class="alert alert-info" role="alert">
			Examples for each icon are displayed below in context of a button and a link, however they may also be used in other contexts.
		</div>
		{{#each rows}}
			<div class="row">
				{{#each rowicons}}
					{{#with this}}
						<div class="col-sm-2">
							<div class="panel panel-default">
								<div class="panel-body text-center">
									<div class="fuelux-icon fuelux-icon-{{name}}"></div>
									<br/>
									<br/>
									<button type="button" class="btn btn-default">
										<i class="fuelux-icon fuelux-icon-{{name}}"></i> Button
									</button>
									<br/>
									<br/>
									<button type="button" class="btn btn-link">
										<span class="fuelux-icon fuelux-icon-{{name}}"></span> Button Link
									</button>
								</div>
								<div class="panel-footer small">
									<code>&lt;span class="fuelux-icon fuelux-icon-{{name}}"&gt;&lt;/span&gt;</code>
								</div>
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
		{{/each}}
	</div>
</div>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/examples/scripts/super-copy.js"></script>
</body>
</html>
