@keyframes fuelux-preloader-1
{
    0%      {opacity: 1;}
    12.4%   {opacity: 1;}
    12.5%   {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-1
{
    0%      {opacity: 1;}
    12.4%   {opacity: 1;}
    12.5%   {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-2
{
    0%      {opacity: 0;}
    12.4%   {opacity: 0;}
    12.5%   {opacity: 1;}
    24.9%   {opacity: 1;}
    25%     {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-2
{
    0%      {opacity: 0;}
    12.4%   {opacity: 0;}
    12.5%   {opacity: 1;}
    24.9%   {opacity: 1;}
    25%     {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-3
{
    0%      {opacity: 0;}
    24.9%   {opacity: 0;}
    25%     {opacity: 1;}
    37.4%   {opacity: 1;}
    37.5%   {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-3
{
    0%      {opacity: 0;}
    24.9%   {opacity: 0;}
    25%     {opacity: 1;}
    37.4%   {opacity: 1;}
    37.5%   {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-4
{
    0%      {opacity: 0;}
    37.4%   {opacity: 0;}
    37.5%   {opacity: 1;}
    49.4%   {opacity: 1;}
    50%     {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-4
{
    0%      {opacity: 0;}
    37.4%   {opacity: 0;}
    37.5%   {opacity: 1;}
    49.4%   {opacity: 1;}
    50%     {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-5
{
    0%      {opacity: 0;}
    49.4%   {opacity: 0;}
    50%     {opacity: 1;}
    62.4%   {opacity: 1;}
    62.5%   {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-5
{
    0%      {opacity: 0;}
    49.4%   {opacity: 0;}
    50%     {opacity: 1;}
    62.4%   {opacity: 1;}
    62.5%   {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-6
{
    0%      {opacity: 0;}
    62.4%   {opacity: 0;}
    62.5%   {opacity: 1;}
    74.9%   {opacity: 1;}
    75%     {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-6
{
    0%      {opacity: 0;}
    62.4%   {opacity: 0;}
    62.5%   {opacity: 1;}
    74.9%   {opacity: 1;}
    75%     {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-7
{
    0%      {opacity: 0;}
    74.9%   {opacity: 0;}
    75%     {opacity: 1;}
    87.4%   {opacity: 1;}
    87.5%   {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-7
{
    0%      {opacity: 0;}
    74.9%   {opacity: 0;}
    75%     {opacity: 1;}
    87.4%   {opacity: 1;}
    87.5%   {opacity: 0;}
    100%    {opacity: 0;}
}


@keyframes fuelux-preloader-8
{
    0%      {opacity: 0;}
    87.4%   {opacity: 0;}
    87.5%   {opacity: 1;}
    87.6%   {opacity: 1;}
    100%    {opacity: 0;}
    100%    {opacity: 0;}
}
@-webkit-keyframes fuelux-preloader-8
{
    0%      {opacity: 0;}
    87.4%   {opacity: 0;}
    87.5%   {opacity: 1;}
    87.6%   {opacity: 1;}
    100%    {opacity: 0;}
    100%    {opacity: 0;}
}


.preloader {

}