.fuelux-icon-align-horizontal-center { background-image: url('png/align-horizontal-center.png'); background-repeat: no-repeat; }

.fuelux-icon-align-horizontal-left { background-image: url('png/align-horizontal-left.png'); background-repeat: no-repeat; }

.fuelux-icon-align-horizontal-right { background-image: url('png/align-horizontal-right.png'); background-repeat: no-repeat; }

.fuelux-icon-border-all { background-image: url('png/border-all.png'); background-repeat: no-repeat; }

.fuelux-icon-border-bottom { background-image: url('png/border-bottom.png'); background-repeat: no-repeat; }

.fuelux-icon-border-left { background-image: url('png/border-left.png'); background-repeat: no-repeat; }

.fuelux-icon-border-none { background-image: url('png/border-none.png'); background-repeat: no-repeat; }

.fuelux-icon-border-right { background-image: url('png/border-right.png'); background-repeat: no-repeat; }

.fuelux-icon-border-top { background-image: url('png/border-top.png'); background-repeat: no-repeat; }

.fuelux-icon-close-content-block { background-image: url('png/close-content-block.png'); background-repeat: no-repeat; }

.fuelux-icon-content-cloud-upload { background-image: url('png/content-cloud-upload.png'); background-repeat: no-repeat; }

.fuelux-icon-content-image { background-image: url('png/content-image.png'); background-repeat: no-repeat; }

.fuelux-icon-content-replace-hover { background-image: url('png/content-replace-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-content-replace { background-image: url('png/content-replace.png'); background-repeat: no-repeat; }

.fuelux-icon-content-text { background-image: url('png/content-text.png'); background-repeat: no-repeat; }

.fuelux-icon-corner-radius { background-image: url('png/corner-radius.png'); background-repeat: no-repeat; }

.fuelux-icon-dots-horizontal { background-image: url('png/dots-horizontal.png'); background-repeat: no-repeat; }

.fuelux-icon-dots-verticle { background-image: url('png/dots-verticle.png'); background-repeat: no-repeat; }

.fuelux-icon-drag-handle-squares-hover { background-image: url('png/drag-handle-squares-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-drag-handle-squares { background-image: url('png/drag-handle-squares.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-down-hover { background-image: url('png/inverse-chevron-down-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-down { background-image: url('png/inverse-chevron-down.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-thin-down-hover { background-image: url('png/inverse-chevron-thin-down-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-thin-down { background-image: url('png/inverse-chevron-thin-down.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-thin-up-hover { background-image: url('png/inverse-chevron-thin-up-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-thin-up { background-image: url('png/inverse-chevron-thin-up.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-up-hover { background-image: url('png/inverse-chevron-up-hover.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-chevron-up { background-image: url('png/inverse-chevron-up.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-duplicate-white { background-image: url('png/inverse-duplicate-white.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-pencil-white { background-image: url('png/inverse-pencil-white.png'); background-repeat: no-repeat; }

.fuelux-icon-inverse-trashcan-white { background-image: url('png/inverse-trashcan-white.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-all { background-image: url('png/margin-all.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-bottom { background-image: url('png/margin-bottom.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-left { background-image: url('png/margin-left.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-none { background-image: url('png/margin-none.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-right { background-image: url('png/margin-right.png'); background-repeat: no-repeat; }

.fuelux-icon-margin-top { background-image: url('png/margin-top.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-all { background-image: url('png/padding-all.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-bottom { background-image: url('png/padding-bottom.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-left { background-image: url('png/padding-left.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-none { background-image: url('png/padding-none.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-right { background-image: url('png/padding-right.png'); background-repeat: no-repeat; }

.fuelux-icon-padding-top { background-image: url('png/padding-top.png'); background-repeat: no-repeat; }

.fuelux-icon-padlock-blue { background-image: url('png/padlock-blue.png'); background-repeat: no-repeat; }

.fuelux-icon-padlock-locked-white { background-image: url('png/padlock-locked-white.png'); background-repeat: no-repeat; }

.fuelux-icon-padlock-locked { background-image: url('png/padlock-locked.png'); background-repeat: no-repeat; }

.fuelux-icon-padlock-unlocked-white { background-image: url('png/padlock-unlocked-white.png'); background-repeat: no-repeat; }

.fuelux-icon-padlock-unlocked { background-image: url('png/padlock-unlocked.png'); background-repeat: no-repeat; }

.fuelux-icon-people-blue-plus { background-image: url('png/people-blue-plus.png'); background-repeat: no-repeat; }

.fuelux-icon-people-blue-three { background-image: url('png/people-blue-three.png'); background-repeat: no-repeat; }

.fuelux-icon-restricted-gray-background { background-image: url('png/restricted-gray-background.png'); background-repeat: no-repeat; }

.fuelux-icon-restricted-red-background { background-image: url('png/restricted-red-background.png'); background-repeat: no-repeat; }

.fuelux-icon-restricted-white { background-image: url('png/restricted-white.png'); background-repeat: no-repeat; }

