.fuelux-icon {
    font-size: 20px;
}

.fuelux-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("icons/icons.svg");
    background-repeat: no-repeat;
    background-size: 1.00285em 40em;
}

.no-svg .fuelux-icon:before {
    background-image: url("../icons.png");
}

.fuelux-icon.fuelux-icon-calendar:before {
    background-position: 0em 0em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-calendar-hover:before {
    background-position: 0em -1em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-caret-down:before {
    background-position: 0em -2em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-caret-down-hover:before {
    background-position: 0em -3em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-caret-right:before {
    background-position: 0em -4em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-caret-right-hover:before {
    background-position: 0em -5em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox:before {
    background-position: 0em -6em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox-checked:before {
    background-position: 0em -7em;
    width: 1.0021499999999999em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox-checked-disabled:before {
    background-position: 0em -8em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox-checked-hover:before {
    background-position: 0em -9em;
    width: 1.0022em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox-disabled:before {
    background-position: 0em -10em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checkbox-hover:before {
    background-position: 0em -11em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-checked-indicator:before {
    background-position: 0em -12em;
    width: 1.00225em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-close-content-block:before {
    background-position: 0em -13em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-delete:before {
    background-position: 0em -14em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-email:before {
    background-position: 0em -15em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-folder:before {
    background-position: 0em -16em;
    width: 1.0023em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-folder-open:before {
    background-position: 0em -17em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-gridview-columns:before {
    background-position: 0em -18em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-gridview-list:before {
    background-position: 0em -19em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-gridview-paragraph:before {
    background-position: 0em -20em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-gridview-thumbnail:before {
    background-position: 0em -21em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-pencil:before {
    background-position: 0em -22em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-pencil-hover:before {
    background-position: 0em -23em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-plus-sign:before {
    background-position: 0em -24em;
    width: 0.9999499999999999em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-plus-sign-disabled:before {
    background-position: 0em -25em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button:before {
    background-position: 0em -26em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button-checked:before {
    background-position: 0em -27em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button-checked-disabled:before {
    background-position: 0em -28em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button-checked-hover:before {
    background-position: 0em -29em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button-disabled:before {
    background-position: 0em -30em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-radio-button-hover:before {
    background-position: 0em -31em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-search:before {
    background-position: 0em -32em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-search-deprecated:before {
    background-position: 0em -33em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-search-deprecated-hover:before {
    background-position: 0em -34em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-search-hover:before {
    background-position: 0em -35em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-sort:before {
    background-position: 0em -36em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-spyglass:before {
    background-position: 0em -37em;
    width: 1.00285em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-trash:before {
    background-position: 0em -38em;
    width: 1em;
    height: 1em;
}

.fuelux-icon.fuelux-icon-trash-hover:before {
    background-position: 0em -39em;
    width: 1em;
    height: 1em;
}

