.fuelux-icon-calendar:hover { background-image: url('png/calendar:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.fuelux-icon-caret-down:hover { background-image: url('png/caret-down:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-caret-down { background-image: url('png/caret-down.png'); background-repeat: no-repeat; }

.fuelux-icon-caret-right:hover { background-image: url('png/caret-right:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-caret-right { background-image: url('png/caret-right.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox-checked:disabled { background-image: url('png/checkbox-checked:disabled.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox-checked:hover { background-image: url('png/checkbox-checked:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox-checked { background-image: url('png/checkbox-checked.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox:disabled { background-image: url('png/checkbox:disabled.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox:hover { background-image: url('png/checkbox:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-checkbox { background-image: url('png/checkbox.png'); background-repeat: no-repeat; }

.fuelux-icon-checked-indicator { background-image: url('png/checked-indicator.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-down { background-image: url('png/chevron-down.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-left:hover { background-image: url('png/chevron-left:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-left { background-image: url('png/chevron-left.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-right:hover { background-image: url('png/chevron-right:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.fuelux-icon-chevron-up { background-image: url('png/chevron-up.png'); background-repeat: no-repeat; }

.fuelux-icon-close-content-block { background-image: url('png/close-content-block.png'); background-repeat: no-repeat; }

.fuelux-icon-copy:hover { background-image: url('png/copy:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-copy { background-image: url('png/copy.png'); background-repeat: no-repeat; }

.fuelux-icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.fuelux-icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.fuelux-icon-folder-open { background-image: url('png/folder-open.png'); background-repeat: no-repeat; }

.fuelux-icon-folder { background-image: url('png/folder.png'); background-repeat: no-repeat; }

.fuelux-icon-gridview-columns-configure { background-image: url('png/gridview-columns-configure.png'); background-repeat: no-repeat; }

.fuelux-icon-gridview-columns { background-image: url('png/gridview-columns.png'); background-repeat: no-repeat; }

.fuelux-icon-gridview-list { background-image: url('png/gridview-list.png'); background-repeat: no-repeat; }

.fuelux-icon-gridview-paragraph { background-image: url('png/gridview-paragraph.png'); background-repeat: no-repeat; }

.fuelux-icon-gridview-thumbnail { background-image: url('png/gridview-thumbnail.png'); background-repeat: no-repeat; }

.fuelux-icon-nyt_exporter_info { background-image: url('png/nyt_exporter_info.png'); background-repeat: no-repeat; }

.fuelux-icon-pencil:hover { background-image: url('png/pencil:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

.fuelux-icon-plus-sign:disabled { background-image: url('png/plus-sign:disabled.png'); background-repeat: no-repeat; }

.fuelux-icon-plus-sign { background-image: url('png/plus-sign.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button-checked:disabled { background-image: url('png/radio-button-checked:disabled.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button-checked:hover { background-image: url('png/radio-button-checked:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button-checked { background-image: url('png/radio-button-checked.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button:disabled { background-image: url('png/radio-button:disabled.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button:hover { background-image: url('png/radio-button:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-radio-button { background-image: url('png/radio-button.png'); background-repeat: no-repeat; }

.fuelux-icon-search-deprecated:hover { background-image: url('png/search-deprecated:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-search-deprecated { background-image: url('png/search-deprecated.png'); background-repeat: no-repeat; }

.fuelux-icon-search:hover { background-image: url('png/search:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.fuelux-icon-sort-by-alphabet { background-image: url('png/sort-by-alphabet.png'); background-repeat: no-repeat; }

.fuelux-icon-spyglass { background-image: url('png/spyglass.png'); background-repeat: no-repeat; }

.fuelux-icon-trash:hover { background-image: url('png/trash:hover.png'); background-repeat: no-repeat; }

.fuelux-icon-trash { background-image: url('png/trash.png'); background-repeat: no-repeat; }

